parameter_defaults:
  DockerInsecureRegistryAddress: 192.168.24.1:8787
  DnsServers: ["{{dns_server}}"]

  #ControllerCount: 1
  #CephStorageCount: 1
  #ObjectStorageCount: 1
  #ComputeCount: 1

  ControllerCount: 3
  CephStorageCount: 3
  ComputeCount: 3
