{
    "version": {
        "osp_version": "{{version}}",
        "rhos_release": "{{rhos_release}}",
        "build": "{{build}}",
        "uc_build_date": "{{lookup('pipe','date +%Y%m%d-%H%M%S')}}"
    }
}
